@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Montserrat:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background: #ffffff;
}

/* ===== HEADER ===== */
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 70px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ribbon {
    font-size: 38px;
}

.logo-text {
    font-family: "Playfair Display", serif;
    font-size: 22px;
    text-align: left;
    line-height: 1.1;
}

.logo-text span {
    font-size: 24px;
    color: #C0557E;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 40px;
}

nav a {
    text-decoration: none;
    color: #413F43;
    font-size: 15px;
    font-weight: 400;
}


/* ===== MAIN ===== */
main {
    display: flex;
    width: 100%;
    min-height: 550px;
}


/* ===== LEFT SECTION ===== */
.left {
    width: 50%;
    background: radial-gradient(circle at 40% 50%, #EECBDD 0%, #D9B2C8 70%);
    padding: 90px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 250px 250px 0;
}

.left h2 {
    font-family: "Playfair Display", serif;
    font-size: 34px;
    margin-bottom: 40px;
    font-weight: 600;
    color: #2E1A25;
}

/* FORM */
form {
    width: 460px;
    background: rgba(255,255,255,0.65);
    padding: 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

input,
textarea {
    width: 100%;
    border: none;
    background: #F9E8EE;
    padding: 14px;
    font-size: 14px;
    border-radius: 6px;
    outline: none;
}

textarea {
    height: 110px;
    resize: none;
}

button {
    background: #C07CA8;
    border: none;
    padding: 12px;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 160px;
    align-self: center;
}


/* ===== RIGHT ===== */
.right {
    width: 50%;
    padding: 120px 40px 0 80px;
}

.right h2 {
    color: #A05382;
    font-family: "Playfair Display", serif;
    font-size: 34px;
    line-height: 1.35;
    font-weight: 600;
    margin-bottom: 25px;
}

.right p {
    font-size: 21px;
    line-height: 1.55;
    width: 520px;
    color: #303030;
}
